
@using ENETCare.IMS;
@model Clients

@{
    ViewBag.Title = "Clients";
    ViewBag.SubTitle = "";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="well-sm">
    <a class="btn btn-primary" href="@Url.Action("CreateNewClient")">Create New Client</a>
</div>

<div class="row">
    <div class="col-lg-10">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>View</th>
                        <th>Name</th>
                        <th>District</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Client client in Model)
                    {
                        <tr>
                            <td>
                                @* View Client Interventions link button *@
                                <a href="@Url.Action(
                                        "ViewClient",
                                        new { id = client.ID })">
                                    <span class="glyphicon glyphicon-user"></span> View
                                </a>
                            </td>
                            <td>@client.DescriptiveName</td>
                            <td>@client.District.Name</td>
                            <td>@client.Location</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>