@using ENETCare.IMS.WebApp.Models
@model GenerateReportViewModel

@{
    ViewBag.Title = ViewData["Title"];
    ViewBag.SubTitle = "Generate Report";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Report Details</h2>

@using (Html.BeginForm())
{

    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-5">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">Reports</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="SelectedType">Select Report Type:</label>
                            @Html.DropDownListFor(
                             m => m.ID,
                             new SelectList(Model.ReportTypes),
                             new { @class = "form-control", id = "reportTypeDropdown" })
                            @Html.ValidationMessageFor(m => m.ID, "", new { @class = "text-danger" })
                            <br />
                            <label id="districtLabel" for="DistrictSelected">District:</label>
                            @Html.DropDownListFor(
                              m => m.SelectedDistrictID,
                              new SelectList(Model.Districts, "DistrictID", "Name", null),
                              new { @class = "form-control", id = "districtDropdown" })
                            @Html.ValidationMessageFor(m => m.SelectedDistrictID, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="well text-right">
                        <button type="submit" class="btn btn-success">Generate Report</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
$(document).ready(function(){

    $('#reportTypeDropdown').change(function(e){
        var value = $(this).val();
        if (value == 'Monthly Costs') {
            $('#districtDropdown').show();
            $('#districtLabel').show();
        } else {
            $('#districtDropdown').hide();
            $('#districtLabel').hide();
        }
    });

    $('#reportTypeDropdown').trigger('change');
});
</script>

