@* Show 'change password' option for all authenticated users *@
@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <li>
        <a href="@Url.Action("ChangePassword", "Manage")"><i class="fa fa-fw fa-cog"></i> Account Setup</a>
    </li>
}

@if (User.IsInRole("Manager"))
{
    <li>
        <a href="@Url.Action("ViewProposed", "Interventions")"><i class="fa fa-fw fa-circle"></i> Proposed Interventions</a>
    </li>
    <li>
        <a href="@Url.Action("ViewApproved", "Interventions")"><i class="fa fa-fw fa-check"></i> Approved Interventions</a>
    </li>
}

@if (User.IsInRole("SiteEngineer"))
{
    <li>
        <a href="@Url.Action("Index", "Interventions")"><i class="fa fa-fw fa-table"></i> Interventions</a>
    </li>
    <li>
        <a href="@Url.Action("CreateIntervention", "Interventions")"><i class="fa fa-fw fa-plus-square"></i> Create New Intervention</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Clients")"><i class="fa fa-fw fa-users"></i> Clients</a>
    </li>
    <li>
        <a href="@Url.Action("CreateNewClient", "Clients")"><i class="fa fa-fw fa-user"></i> Create New Client</a>
    </li>
}

@if (User.IsInRole("Accountant"))
{
    <li>
        <a href="@Url.Action("Index", "Users")"><i class="fa fa-fw fa-users"></i> Users</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Reports")"><i class="fa fa-fw fa-print"></i> Generate a Report</a>
    </li>
}