@using ENETCare_IMS_WebApp.Models

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@section Head
{
    <style type="text/css">
        body
        {
            background-color: #EEE;
        }

        h1, h2, h3
        {
            text-align: center;
            color: #CCC;
            margin: 0;
        }

        h1
        {
            font-size: 100px;
            text-shadow: 2px 2px 0 #EEE;
            font-weight: bolder;
        }

        h3
        {
            font-size: 18px;
        }

        #loginBoxWrapper
        {
            padding: 40px;
            background-color: #FFF;
            
            box-shadow: 0 0 20px #CCC;
        }
    </style>
}

<div class="row">
    <div class="col-md-4"></div>
        <div class="col-md-4" id="loginBoxWrapper">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    <h1>ENET</h1>
                    <h3>Information Management System</h3>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                }
            </section>
        </div>
    <div class="col-md-4"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}