@using ENETCare.IMS.WebApp.Models
@model EditSiteEngineerDistrictViewModel


@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section NavBar{
    @if (User.IsInRole("Manager"))
    {

        <li>
            <a href="@Url.Action("ViewProposed", "Interventions")"><i class="fa fa-fw fa-print"></i> Proposed Interventions</a>
        </li>

        <li>
            <a href="@Url.Action("ViewApproved", "Interventions")"><i class="fa fa-fw fa-print"></i> Approved Interventions</a>
        </li>
    }
    else if (User.IsInRole("SiteEngineer"))
    {
        <li>
            <a href="@Url.Action("Index", "Interventions")"><i class="fa fa-fw fa-dashboard"></i> Interventions</a>
        </li>

        <li>
            <a href="@Url.Action("CreateIntervention", "Interventions")"><i class="fa fa-fw fa-dashboard"></i> Create New Intervention</a>
        </li>

        <li>
            <a href="@Url.Action("Index", "Clients")"><i class="fa fa-fw fa-print"></i> Clients</a>
        </li>

        <li>
            <a href="@Url.Action("CreateNewClient", "Clients")"><i class="fa fa-fw fa-print"></i> Create New Client</a>
        </li>

    }
    else if (User.IsInRole("Accountant"))
    {
        <li>
            <a href="@Url.Action("Index", "Users")"><i class="fa fa-fw fa-dashboard"></i> Users</a>
        </li>

        <li>
            <a href="@Url.Action("Index", "Reports")"><i class="fa fa-fw fa-print"></i> Generate a Report</a>
        </li>

    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel-group">
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">Edit District</div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label for="NewClientName">User:</label>
                            @Html.Label(Model.Engineer.Name)
                            @Html.HiddenFor(model => model.EngineerID, new { @Value = Model.Engineer.Id })
                        </div>
                        <div class="form-group">
                            <label for="NewLocationName">Current District:</label>
                            @Html.Label(Model.Engineer.District.Name)
                        </div>
                        <div class="form-group">
                            <label for="NewDistrict">New District:</label>
                            @Html.DropDownListFor(
                              m => m.SelectedDistrictID,
                              new SelectList(Model.Districts, "DistrictID", "Name", null),
                              "Please select a District ...",
                              new { @class = "form-control", id = "districtDropdown" })
                            @Html.ValidationMessageFor(m => m.SelectedDistrictID, "", new { @class = "text-danger" })
                        </div>
                        <div class="text-right">
                            <input class="btn btn-success" type="submit" id="submitId" value="Save New District" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
