@using ENETCare.IMS.WebApp.Models
@using ENETCare.IMS.Users;
@model AccountantUsersViewModel

@{
    ViewBag.Title = ViewData["Title"];
    ViewBag.SubTitle = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-8">
        <div class="well">
            <a class="btn btn-primary" href='@Url.Action("Index", "Reports")'>Generate a Report</a>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Site Engineers</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Edit</th>
                                <th>Name</th>
                                <th>E-Mail</th>
                                <th>District</th>
                                <th>Cost</th>
                                <th>Labour Hours</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (SiteEngineer engineer in Model.Engineers)
                            {
                                <tr>
                                    <td>
                                        @* Edit Intervention link button *@
                                        <a href="@Url.Action(
                                        "EditSiteEngineer", "Users",
                                        new { id = engineer.Id })">
                                            <span class="glyphicon glyphicon-edit"></span> Edit
                                        </a>
                                    </td>
                                    <td>@engineer.Name</td>
                                    <td>@engineer.Email</td>
                                    <td>@engineer.District.Name</td>
                                    <td>@engineer.MaxApprovableCost.ToString("C2")</td>
                                    <td>@engineer.MaxApprovableLabour hours</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Managers</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Edit</th>
                                <th>Name</th>
                                <th>E-Mail</th>
                                <th>District</th>
                                <th>Cost</th>
                                <th>Labour Hours</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Manager manager in Model.Managers)
                            {
                                <tr>
                                    <td>
                                        @* Edit Intervention link button *@
                                        <a href="@Url.Action(
                                        "EditManager", "Users",
                                        new { id = manager.Id })">
                                            <span class="glyphicon glyphicon-edit"></span> Edit
                                        </a>
                                    </td>
                                    <td>@manager.Name</td>
                                    <td>@manager.Email</td>
                                    <td>@manager.District.Name</td>
                                    <td>@manager.MaxApprovableCost.ToString("C2")</td>
                                    <td>@manager.MaxApprovableLabour hours</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>